///
///Lee's education site
///We are committed to provide your child's learning situation inspection work,
///for your child to make suitable learning method,
///and a healthy children happy studying life.
///

/* Footer */

	#footer {
		#sidebar + #wrapper + & {
			margin-left: _size(sidebar-width);

			@include breakpoint(large) {
				margin-left: 0;
			}
		}

		> .inner {
			a {
				border-bottom-color: _palette(border);

				&:hover {
					border-bottom-color: transparent;
				}
			}

			.menu {
				font-size: 0.8em;
				color: _palette(border);
			}
		}

		#header + #wrapper + & {
			> .inner {
				margin: 0 auto;
			}
		}
	}