///
///Lee's education site
///We are committed to provide your child's learning situation inspection work,
///for your child to make suitable learning method,
///and a healthy children happy studying life.
///

/* Wrapper (main) */

	#wrapper {
		#sidebar + & {
			margin-left: _size(sidebar-width);

			@include breakpoint(large) {
				margin-left: 0;
				padding-top: _size(sidebar-height);
			}

			@include breakpoint(small) {
				padding-top: 0;
			}
		}

		#header + & {
			> .wrapper {
				> .inner {
					margin: 0 auto;
				}
			}
		}
	}